# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# Pre-rendered static output
dist/
# npm dependencies
node_modules/
