@font-face {
  font-family: "roboto-mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/roboto-mono-latin-500-normal.woff") format("woff");
  size-adjust: 100%;
  ascent-override: 0.1em;
  descent-override: 0.1em;
  line-gap-override: 0.1em;
}
